
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625698861817529131.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625698861817529131.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625698861817529131.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625698861817529131.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625698861817529131.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625698861817529131.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625698861817529131.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625698861817529131.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625698861817529131.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625698861817529131.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625698861817529131.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625698861817529131.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625698861817529131.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625698861817529131.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625698861817529131.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625698861817529131.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625698861817529131.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625698861817529131.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625698861817529131.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-625698861817529131.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-625698861817529131.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-625698861817529131.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625698861817529131.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625698861817529131.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625698861817529131.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625698861817529131.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625698861817529131.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625698861817529131.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625698861817529131.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-625698861817529131.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625698861817529131.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625698861817529131.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-625698861817529131.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-625698861817529131.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-625698861817529131.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-625698861817529131.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-625698861817529131.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-625698861817529131.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625698861817529131.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625698861817529131.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-625698861817529131.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-625698861817529131.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-625698861817529131 .focus-visible\:gp-shadow-none,.gps-625698861817529131 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-625698861817529131 .gp-fixed{position:fixed}.gps-625698861817529131 .gp-absolute{position:absolute}.gps-625698861817529131 .gp-relative{position:relative}.gps-625698861817529131 .gp-inset-0{inset:0}.gps-625698861817529131 .gp-right-0{right:0}.gps-625698861817529131 .gp-top-0{top:0}.gps-625698861817529131 .gp-z-1{z-index:1}.gps-625698861817529131 .gp-z-50{z-index:50}.gps-625698861817529131 .gp-z-\[999999\]{z-index:999999}.gps-625698861817529131 .gp-block{display:block}.gps-625698861817529131 .gp-inline-block{display:inline-block}.gps-625698861817529131 .gp-flex{display:flex}.gps-625698861817529131 .gp-inline-flex{display:inline-flex}.gps-625698861817529131 .\!gp-hidden{display:none!important}.gps-625698861817529131 .gp-hidden{display:none}.gps-625698861817529131 .gp-h-full{height:100%}.gps-625698861817529131 .gp-h-screen{height:100vh}.gps-625698861817529131 .\!gp-max-h-screen{max-height:100vh!important}.gps-625698861817529131 .gp-max-h-full{max-height:100%}.gps-625698861817529131 .gp-w-full{width:100%}.gps-625698861817529131 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-625698861817529131 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-625698861817529131 .gp-items-center{align-items:center}.gps-625698861817529131 .gp-justify-center{justify-content:center}.gps-625698861817529131 .gp-overflow-hidden{overflow:hidden}.gps-625698861817529131 .gp-overflow-y-auto{overflow-y:auto}.gps-625698861817529131 .gp-overflow-x-hidden{overflow-x:hidden}.gps-625698861817529131 .gp-bg-transparent{background-color:transparent}.gps-625698861817529131 .gp-align-middle{vertical-align:middle}.gps-625698861817529131 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-625698861817529131 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-625698861817529131 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625698861817529131 .gp-duration-100{transition-duration:.1s}.gps-625698861817529131 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-625698861817529131 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-625698861817529131 .tablet\:\!gp-hidden{display:none!important}.gps-625698861817529131 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-625698861817529131 .mobile\:\!gp-hidden{display:none!important}.gps-625698861817529131 .mobile\:gp-hidden{display:none}}.gps-625698861817529131 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-625698861817529131 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}</style>
    
  
    
    
    <gp-dialog
      data-id="gItfYKBTbx"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gItfYKBTbx","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"tablet":true,"mobile":true}}'>
      <dialog
        aria-label="Popup 7"
        data-gp-dialog-id="gItfYKBTbx"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-tablet:auto;--pe-mobile:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-tablet:block;--d-mobile:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--d:block;--d-tablet:block;--d-mobile:block;--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:32px;--h:32px;--c:var(--g-c-text-3, text-3);--bgc:var(--g-c-brand, brand)"
            >
              <span style="--height-icon:16px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg height="20" width="20" data-name="x-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
        <path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z"/>
      </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--op:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px;border-radius:inherit;--bgc:var(--g-c-bg-1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
  
    <div
      data-id="gRJzLsWnu3"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gRJzLsWnu3 gp-custom-code">
      <div>
    <div class="hapyco-size-chart-mini">
  <input type="radio" name="hapyco-size-unit" id="hapyco-unit-in" checked>
  <input type="radio" name="hapyco-size-unit" id="hapyco-unit-cm">

  <div class="hapyco-size-top">
    <h2>Size For Adults</h2>

    <div class="hapyco-unit-toggle">
      <label for="hapyco-unit-in" class="unit-label unit-in">inches</label>
      <label for="hapyco-unit-cm" class="unit-label unit-cm">cm</label>
    </div>
  </div>

  <table class="hapyco-size-table">
    <thead>
      <tr>
        <th>Size</th>
        <th>Length<br><span class="unit-in-text">in</span><span class="unit-cm-text">cm</span></th>
        <th>Chest<br><span class="unit-in-text">in</span><span class="unit-cm-text">cm</span></th>
        <th>Sleeve<br><span class="unit-in-text">in</span><span class="unit-cm-text">cm</span></th>
        <th>Shoulder<br><span class="unit-in-text">in</span><span class="unit-cm-text">cm</span></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>S</td>
        <td><span class="value-in">28.3</span><span class="value-cm">71.9</span></td>
        <td><span class="value-in">42.5</span><span class="value-cm">108</span></td>
        <td><span class="value-in">8.1</span><span class="value-cm">20.6</span></td>
        <td><span class="value-in">19.7</span><span class="value-cm">50</span></td>
      </tr>

      <tr>
        <td>M</td>
        <td><span class="value-in">29.1</span><span class="value-cm">73.9</span></td>
        <td><span class="value-in">44.9</span><span class="value-cm">114</span></td>
        <td><span class="value-in">8.5</span><span class="value-cm">21.6</span></td>
        <td><span class="value-in">20.5</span><span class="value-cm">52.1</span></td>
      </tr>

      <tr>
        <td>L</td>
        <td><span class="value-in">29.9</span><span class="value-cm">75.9</span></td>
        <td><span class="value-in">47.2</span><span class="value-cm">120</span></td>
        <td><span class="value-in">8.7</span><span class="value-cm">22.1</span></td>
        <td><span class="value-in">21.3</span><span class="value-cm">54.1</span></td>
      </tr>

      <tr>
        <td>XL</td>
        <td><span class="value-in">30.7</span><span class="value-cm">78</span></td>
        <td><span class="value-in">49.6</span><span class="value-cm">126</span></td>
        <td><span class="value-in">9.1</span><span class="value-cm">23.1</span></td>
        <td><span class="value-in">22.0</span><span class="value-cm">55.9</span></td>
      </tr>

      <tr>
        <td>2XL</td>
        <td><span class="value-in">31.5</span><span class="value-cm">80</span></td>
        <td><span class="value-in">52.0</span><span class="value-cm">132</span></td>
        <td><span class="value-in">9.5</span><span class="value-cm">24.1</span></td>
        <td><span class="value-in">22.8</span><span class="value-cm">57.9</span></td>
      </tr>

      <tr>
        <td>3XL</td>
        <td><span class="value-in">32.7</span><span class="value-cm">83.1</span></td>
        <td><span class="value-in">55.1</span><span class="value-cm">140</span></td>
        <td><span class="value-in">9.8</span><span class="value-cm">24.9</span></td>
        <td><span class="value-in">24.4</span><span class="value-cm">62</span></td>
      </tr>

      <tr>
        <td>4XL</td>
        <td><span class="value-in">33.5</span><span class="value-cm">85.1</span></td>
        <td><span class="value-in">57.5</span><span class="value-cm">146</span></td>
        <td><span class="value-in">10.0</span><span class="value-cm">25.4</span></td>
        <td><span class="value-in">25.2</span><span class="value-cm">64</span></td>
      </tr>

      <tr>
        <td>5XL</td>
        <td><span class="value-in">34.6</span><span class="value-cm">87.9</span></td>
        <td><span class="value-in">59.1</span><span class="value-cm">150</span></td>
        <td><span class="value-in">10.2</span><span class="value-cm">25.9</span></td>
        <td><span class="value-in">26.0</span><span class="value-cm">66</span></td>
      </tr>
    </tbody>
  </table>

  <div class="hapyco-size-note">
    If you are between two sizes, choose the larger size.
  </div>
</div>

<style>
  .hapyco-size-chart-mini {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 12px;
    padding: 7px;
    font-family: Inter, Arial, sans-serif;
    color: #111;
    overflow: hidden;
  }

  .hapyco-size-chart-mini input[type="radio"] {
    display: none !important;
  }

  .hapyco-size-top {
    text-align: center;
    margin-bottom: 6px;
  }

  .hapyco-size-top h2 {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    color: #111;
    letter-spacing: -0.3px;
  }

  .hapyco-unit-toggle {
    display: inline-flex;
    padding: 2px;
    background: #fff3e6;
    border: 1px solid #ffc98a;
    border-radius: 999px;
    gap: 2px;
  }

  .unit-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 5px 11px;
    font-size: 10.5px;
    line-height: 1;
    font-weight: 900;
    color: #9a4b00;
    cursor: pointer;
    user-select: none;
  }

  #hapyco-unit-in:checked ~ .hapyco-size-top .unit-in,
  #hapyco-unit-cm:checked ~ .hapyco-size-top .unit-cm {
    background: linear-gradient(135deg, #ff9f1c, #ff7a00);
    color: #fff;
    box-shadow: 0 3px 8px rgba(255, 122, 0, 0.22);
  }

  .hapyco-size-table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ededed;
    border-radius: 9px;
    overflow: hidden;
    background: #fff;
  }

  .hapyco-size-table th,
  .hapyco-size-table td {
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    white-space: nowrap;
  }

  .hapyco-size-table th {
    background: linear-gradient(135deg, #ffad4f, #ff8a1c);
    color: #111;
    padding: 6px 1px;
    font-size: 8.7px;
    line-height: 1.05;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.2px;
  }

  .hapyco-size-table th span {
    display: inline-block;
    margin-top: 1px;
    font-size: 7.8px;
    font-weight: 800;
    text-transform: lowercase;
    opacity: 0.85;
  }

  .hapyco-size-table td {
    padding: 6px 1px;
    font-size: 9.8px;
    line-height: 1;
    font-weight: 800;
    color: #222;
    background: #fff;
  }

  .hapyco-size-table th:first-child,
  .hapyco-size-table td:first-child {
    width: 14%;
  }

  .hapyco-size-table th:not(:first-child),
  .hapyco-size-table td:not(:first-child) {
    width: 21.5%;
  }

  .hapyco-size-table td:first-child {
    font-weight: 900;
    color: #111;
    background: #fff7ed;
  }

  .hapyco-size-table th:last-child,
  .hapyco-size-table td:last-child {
    border-right: none;
  }

  .hapyco-size-table tr:last-child td {
    border-bottom: none;
  }

  .value-cm,
  .unit-cm-text {
    display: none;
  }

  #hapyco-unit-in:checked ~ .hapyco-size-table .value-in,
  #hapyco-unit-in:checked ~ .hapyco-size-table .unit-in-text {
    display: inline;
  }

  #hapyco-unit-in:checked ~ .hapyco-size-table .value-cm,
  #hapyco-unit-in:checked ~ .hapyco-size-table .unit-cm-text {
    display: none;
  }

  #hapyco-unit-cm:checked ~ .hapyco-size-table .value-cm,
  #hapyco-unit-cm:checked ~ .hapyco-size-table .unit-cm-text {
    display: inline;
  }

  #hapyco-unit-cm:checked ~ .hapyco-size-table .value-in,
  #hapyco-unit-cm:checked ~ .hapyco-size-table .unit-in-text {
    display: none;
  }

  .hapyco-size-note {
    margin-top: 6px;
    padding: 6px 7px;
    background: #fff7ed;
    border: 1px solid #ffe0bd;
    border-radius: 8px;
    font-size: 9.8px;
    line-height: 1.25;
    font-weight: 700;
    color: #33200e;
    text-align: center;
  }

  @media (max-width: 420px) {
    .hapyco-size-chart-mini {
      padding: 6px;
    }

    .hapyco-size-top h2 {
      font-size: 13px;
      margin-bottom: 5px;
    }

    .unit-label {
      font-size: 10px;
      padding: 4px 10px;
    }

    .hapyco-size-table th {
      font-size: 8px;
      padding: 5px 1px;
    }

    .hapyco-size-table th span {
      font-size: 7.2px;
    }

    .hapyco-size-table td {
      font-size: 9px;
      padding: 5px 1px;
    }

    .hapyco-size-note {
      font-size: 9px;
      padding: 5px 6px;
    }
  }

  @media (max-width: 360px) {
    .hapyco-size-table th {
      font-size: 7.4px;
    }

    .hapyco-size-table td {
      font-size: 8.5px;
    }

    .unit-label {
      font-size: 9.5px;
      padding: 4px 9px;
    }
  }
</style>
    </div>
    </div>
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-625698861817529131 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=625522682124829355&sectionId=625698861817529131)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}