
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-603786005128807327.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-603786005128807327.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-603786005128807327.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-603786005128807327.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-603786005128807327.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-603786005128807327.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-603786005128807327.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-603786005128807327.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-603786005128807327.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-603786005128807327.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-603786005128807327.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-603786005128807327.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-603786005128807327.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-603786005128807327.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-603786005128807327.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-603786005128807327.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-603786005128807327.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-603786005128807327.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-603786005128807327.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-603786005128807327.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-603786005128807327.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-603786005128807327.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-603786005128807327.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-603786005128807327.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-603786005128807327.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-603786005128807327.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-603786005128807327.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-603786005128807327.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-603786005128807327.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-603786005128807327.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-603786005128807327.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-603786005128807327.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-603786005128807327.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-603786005128807327.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-603786005128807327.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-603786005128807327.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-603786005128807327.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-603786005128807327.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-603786005128807327.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-603786005128807327.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-603786005128807327 .gp-relative{position:relative}.gps-603786005128807327 .gp-sticky{position:sticky}.gps-603786005128807327 .gp-flex{display:flex}.gps-603786005128807327 .\!gp-hidden{display:none!important}.gps-603786005128807327 .gp-hidden{display:none}.gps-603786005128807327 .gp-flex-col{flex-direction:column}@media (max-width:1024px){.gps-603786005128807327 .tablet\:\!gp-hidden{display:none!important}.gps-603786005128807327 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-603786005128807327 .mobile\:\!gp-hidden{display:none!important}.gps-603786005128807327 .mobile\:gp-hidden{display:none}}</style>
    
  
    
    
    
    <gp-sticky
    data-id="gpxpZTET-d"
      gp-data='{"uid":"gpxpZTET-d","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gpxpZTET-d"
      data-id="gpxpZTET-d"
      class="sticky-wrapper  gpxpZTET-d undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--bs:solid;--bw:0px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="g01obOwamH gp-relative gp-flex gp-flex-col"
    >
      
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-603786005128807327 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=603786004289029023&sectionId=603786005128807327)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}