
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625701301056963437.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625701301056963437.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625701301056963437.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625701301056963437.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625701301056963437.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625701301056963437.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625701301056963437.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625701301056963437.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625701301056963437.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625701301056963437.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625701301056963437.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625701301056963437.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625701301056963437.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-625701301056963437.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625701301056963437.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625701301056963437.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625701301056963437.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625701301056963437.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625701301056963437.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625701301056963437.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-625701301056963437.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-625701301056963437.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-625701301056963437.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625701301056963437.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625701301056963437.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-625701301056963437.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625701301056963437.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625701301056963437.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625701301056963437.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625701301056963437.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625701301056963437.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-625701301056963437.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625701301056963437.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625701301056963437.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-625701301056963437.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-625701301056963437.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-625701301056963437.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-625701301056963437.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625701301056963437.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625701301056963437.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-625701301056963437 .gp-relative{position:relative}.gps-625701301056963437 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-625701301056963437 .gp-mb-0{margin-bottom:0}.gps-625701301056963437 .gp-flex{display:flex}.gps-625701301056963437 .gp-grid{display:grid}.gps-625701301056963437 .\!gp-hidden{display:none!important}.gps-625701301056963437 .gp-hidden{display:none}.gps-625701301056963437 .gp-max-w-full{max-width:100%}.gps-625701301056963437 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-625701301056963437 .gp-flex-col{flex-direction:column}.gps-625701301056963437 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625701301056963437 .gp-duration-200{transition-duration:.2s}.gps-625701301056963437 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-625701301056963437 .tablet\:\!gp-hidden{display:none!important}.gps-625701301056963437 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-625701301056963437 .mobile\:\!gp-hidden{display:none!important}.gps-625701301056963437 .mobile\:gp-hidden{display:none}}.gps-625701301056963437 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gwxQy8mj5Z"}' data-id="gwxQy8mj5Z" id="gwxQy8mj5Z" data-same-height-subgrid-container class="gwxQy8mj5Z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkWhg9AAHv gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      data-id="g-a6SMT2rJ"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g-a6SMT2rJ gp-custom-code">
      <div>
    <style>
@media only screen and (max-width: 768px) {

  /* =========================
     MOBILE GALLERY FIX
  ========================== */

  .hapyco-mobile-gallery,
  .hapyco-mobile-gallery *,
  .gf_product-image,
  .gf_product-images,
  .gf_product-gallery,
  .product__media-wrapper,
  .product-media-wrapper,
  .product-gallery,
  .product__media-list,
  .product-media-list {
    position: relative !important;
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
    transform: none !important;
    height: auto !important;
    max-height: none !important;
  }

  /* Le container devient scroll horizontal */
  .hapyco-mobile-gallery .gf_product-images,
  .hapyco-mobile-gallery .gf_product-gallery,
  .hapyco-mobile-gallery .product__media-list,
  .hapyco-mobile-gallery .product-media-list,
  .hapyco-mobile-gallery .product-gallery,
  .hapyco-mobile-gallery .swiper-wrapper,
  .hapyco-mobile-gallery .slick-track {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    width: 100% !important;
    max-width: 100% !important;
    gap: 10px !important;
    scroll-snap-type: x mandatory !important;
    -webkit-overflow-scrolling: touch !important;
    touch-action: pan-x !important;
  }

  /* Chaque image prend presque toute la largeur */
  .hapyco-mobile-gallery .gf_product-images > *,
  .hapyco-mobile-gallery .gf_product-gallery > *,
  .hapyco-mobile-gallery .product__media-list > *,
  .hapyco-mobile-gallery .product-media-list > *,
  .hapyco-mobile-gallery .product-gallery > *,
  .hapyco-mobile-gallery .swiper-slide,
  .hapyco-mobile-gallery .slick-slide {
    flex: 0 0 88% !important;
    width: 88% !important;
    max-width: 88% !important;
    min-width: 88% !important;
    scroll-snap-align: center !important;
  }

  /* Images propres */
  .hapyco-mobile-gallery img {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 / 1 !important;
    object-fit: cover !important;
    display: block !important;
    border-radius: 10px !important;
    pointer-events: none !important;
  }

  /* Cache scrollbar mais garde le swipe */
  .hapyco-mobile-gallery .gf_product-images::-webkit-scrollbar,
  .hapyco-mobile-gallery .gf_product-gallery::-webkit-scrollbar,
  .hapyco-mobile-gallery .product__media-list::-webkit-scrollbar,
  .hapyco-mobile-gallery .product-media-list::-webkit-scrollbar,
  .hapyco-mobile-gallery .product-gallery::-webkit-scrollbar,
  .hapyco-mobile-gallery .swiper-wrapper::-webkit-scrollbar,
  .hapyco-mobile-gallery .slick-track::-webkit-scrollbar {
    display: none !important;
  }

  /* =========================
     DISABLE FULL IMAGE ZOOM / POPUP
  ========================== */

  .mfp-wrap,
  .mfp-bg,
  .pswp,
  .pswp__bg,
  .fancybox-container,
  .fancybox__container,
  .glightbox-container,
  .lg-backdrop,
  .lg-outer,
  .modal,
  .image-zoom-modal,
  .product-media-modal,
  .zoomContainer,
  .zoomLens,
  .zoomWindow,
  .zoomWindowContainer {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }

  body.modal-open,
  body.fancybox-active,
  body.pswp-open,
  body.lg-on {
    overflow: auto !important;
    position: static !important;
    height: auto !important;
  }

  /* Empêche le clic image d'ouvrir le zoom */
  .hapyco-mobile-gallery a,
  .hapyco-mobile-gallery button {
    pointer-events: none !important;
  }

  .hapyco-mobile-gallery {
    overflow: hidden !important;
  }
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  if (window.innerWidth > 768) return;

  function disableMobileImageZoom() {
    const gallery = document.querySelector(".hapyco-mobile-gallery");

    if (!gallery) return;

    const zoomSelectors = [
      "a",
      "button",
      "[data-fancybox]",
      "[data-lightbox]",
      "[data-zoom]",
      "[data-image-zoom]",
      "[data-pswp-width]",
      "[data-pswp-height]"
    ];

    gallery.querySelectorAll(zoomSelectors.join(",")).forEach(function (el) {
      el.removeAttribute("href");
      el.removeAttribute("data-fancybox");
      el.removeAttribute("data-lightbox");
      el.removeAttribute("data-zoom");
      el.removeAttribute("data-image-zoom");
      el.removeAttribute("data-pswp-width");
      el.removeAttribute("data-pswp-height");

      el.addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        return false;
      }, true);
    });
  }

  function removeZoomPopups() {
    const popupSelectors = [
      ".mfp-wrap",
      ".mfp-bg",
      ".pswp",
      ".pswp__bg",
      ".fancybox-container",
      ".fancybox__container",
      ".glightbox-container",
      ".lg-backdrop",
      ".lg-outer",
      ".image-zoom-modal",
      ".product-media-modal",
      ".zoomContainer",
      ".zoomLens",
      ".zoomWindow",
      ".zoomWindowContainer"
    ];

    document.querySelectorAll(popupSelectors.join(",")).forEach(function (el) {
      el.remove();
    });

    document.body.classList.remove("modal-open");
    document.body.classList.remove("fancybox-active");
    document.body.classList.remove("pswp-open");
    document.body.classList.remove("lg-on");

    document.body.style.overflow = "";
    document.body.style.position = "";
    document.body.style.height = "";
  }

  disableMobileImageZoom();
  removeZoomPopups();

  document.addEventListener("click", function (e) {
    const target = e.target.closest(".hapyco-mobile-gallery a, .hapyco-mobile-gallery button");

    if (target) {
      e.preventDefault();
      e.stopPropagation();
      removeZoomPopups();
      return false;
    }
  }, true);

  const observer = new MutationObserver(function () {
    disableMobileImageZoom();
    removeZoomPopups();
  });

  observer.observe(document.body, {
    childList: true,
    subtree: true
  });
});
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-625701301056963437 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=625522682124829355&sectionId=625701301056963437)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}