
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-603364571679294367.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-603364571679294367.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-603364571679294367.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-603364571679294367.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-603364571679294367.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-603364571679294367.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-603364571679294367.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-603364571679294367.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-603364571679294367.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-603364571679294367.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-603364571679294367.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-603364571679294367.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-603364571679294367.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-603364571679294367.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-603364571679294367.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-603364571679294367.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-603364571679294367.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-603364571679294367.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-603364571679294367.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-603364571679294367.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-603364571679294367.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-603364571679294367.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-603364571679294367.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-603364571679294367.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-603364571679294367.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-603364571679294367.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-603364571679294367.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-603364571679294367.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-603364571679294367.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-603364571679294367.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-603364571679294367.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-603364571679294367.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-603364571679294367.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-603364571679294367.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-603364571679294367.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-603364571679294367.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-603364571679294367.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-603364571679294367.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-603364571679294367.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-603364571679294367.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-603364571679294367.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-603364571679294367.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-603364571679294367.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-603364571679294367.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-603364571679294367.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-603364571679294367.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-603364571679294367.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-603364571679294367.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-603364571679294367.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-603364571679294367.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-603364571679294367.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-603364571679294367.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-603364571679294367.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-603364571679294367.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-603364571679294367.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-603364571679294367 .gp-relative{position:relative}.gps-603364571679294367 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-603364571679294367 .gp-mb-0{margin-bottom:0}.gps-603364571679294367 .gp-inline-block{display:inline-block}.gps-603364571679294367 .gp-flex{display:flex}.gps-603364571679294367 .gp-grid{display:grid}.gps-603364571679294367 .gp-contents{display:contents}.gps-603364571679294367 .\!gp-hidden{display:none!important}.gps-603364571679294367 .gp-hidden{display:none}.gps-603364571679294367 .gp-h-auto{height:auto}.gps-603364571679294367 .gp-h-full{height:100%}.gps-603364571679294367 .gp-w-full{width:100%}.gps-603364571679294367 .gp-max-w-full{max-width:100%}.gps-603364571679294367 .gp-flex-none{flex:none}.gps-603364571679294367 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-603364571679294367 .gp-flex-col{flex-direction:column}.gps-603364571679294367 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603364571679294367 .gp-duration-200{transition-duration:.2s}.gps-603364571679294367 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-603364571679294367 .tablet\:\!gp-hidden{display:none!important}.gps-603364571679294367 .tablet\:gp-hidden{display:none}.gps-603364571679294367 .tablet\:gp-h-auto{height:auto}.gps-603364571679294367 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-603364571679294367 .mobile\:\!gp-hidden{display:none!important}.gps-603364571679294367 .mobile\:gp-hidden{display:none}.gps-603364571679294367 .mobile\:gp-h-auto{height:auto}.gps-603364571679294367 .mobile\:gp-flex-none{flex:none}}.gps-603364571679294367 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g-r3n67RnQ"}' data-id="g-r3n67RnQ" id="g-r3n67RnQ" data-same-height-subgrid-container class="g-r3n67RnQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pb:var(--g-s-2xl);--pt-tablet:0px;--pb-tablet:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghh5UgA6BT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gu8-qnnniu"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1771344825250 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gu8-qnnniu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "hf_20260123_135254_a884d97d-1a3e-43ae-972a-4f778c692c80-ezgif.com-png-to-webp-converter.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "hf_20260123_100944_1b5ccb47-e55a-4c99-bdc6-50a704c0acc0.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUwNCIgaGVpZ2h0PSIzMDcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01NTA0LTMwNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjU1MDQiIGhlaWdodD0iMzA3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTUwNCIgaGVpZ2h0PSIzMDcyIiBmaWxsPSJ1cmwoI2ctNTUwNC0zMDcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTUwNCIgdG89IjU1MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "hf_20260123_100944_1b5ccb47-e55a-4c99-bdc6-50a704c0acc0.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUwNCIgaGVpZ2h0PSIzMDcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01NTA0LTMwNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjU1MDQiIGhlaWdodD0iMzA3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTUwNCIgaGVpZ2h0PSIzMDcyIiBmaWxsPSJ1cmwoI2ctNTUwNC0zMDcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTUwNCIgdG89IjU1MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "hf_20260123_100944_1b5ccb47-e55a-4c99-bdc6-50a704c0acc0.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-603364571679294367 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=603346966339912407&sectionId=603364571679294367)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}