
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625698323503776621.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625698323503776621.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625698323503776621.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625698323503776621.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625698323503776621.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625698323503776621.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625698323503776621.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625698323503776621.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625698323503776621.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625698323503776621.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625698323503776621.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625698323503776621.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625698323503776621.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625698323503776621.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625698323503776621.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625698323503776621.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625698323503776621.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625698323503776621.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625698323503776621.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-625698323503776621.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-625698323503776621.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-625698323503776621.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-625698323503776621.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-625698323503776621.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625698323503776621.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625698323503776621.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625698323503776621.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625698323503776621.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625698323503776621.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625698323503776621.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625698323503776621.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-625698323503776621.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625698323503776621.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625698323503776621.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-625698323503776621.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-625698323503776621.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-625698323503776621.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-625698323503776621.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-625698323503776621.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-625698323503776621.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-625698323503776621.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-625698323503776621.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625698323503776621.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625698323503776621.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-625698323503776621.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-625698323503776621.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-625698323503776621 .focus-visible\:gp-shadow-none,.gps-625698323503776621 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-625698323503776621 .gp-fixed{position:fixed}.gps-625698323503776621 .gp-absolute{position:absolute}.gps-625698323503776621 .gp-relative{position:relative}.gps-625698323503776621 .gp-inset-0{inset:0}.gps-625698323503776621 .gp-right-0{right:0}.gps-625698323503776621 .gp-top-0{top:0}.gps-625698323503776621 .gp-z-1{z-index:1}.gps-625698323503776621 .gp-z-50{z-index:50}.gps-625698323503776621 .gp-z-\[999999\]{z-index:999999}.gps-625698323503776621 .gp-block{display:block}.gps-625698323503776621 .gp-inline-block{display:inline-block}.gps-625698323503776621 .gp-flex{display:flex}.gps-625698323503776621 .gp-inline-flex{display:inline-flex}.gps-625698323503776621 .\!gp-hidden{display:none!important}.gps-625698323503776621 .gp-hidden{display:none}.gps-625698323503776621 .gp-h-full{height:100%}.gps-625698323503776621 .gp-h-screen{height:100vh}.gps-625698323503776621 .\!gp-max-h-screen{max-height:100vh!important}.gps-625698323503776621 .gp-max-h-full{max-height:100%}.gps-625698323503776621 .gp-w-full{width:100%}.gps-625698323503776621 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-625698323503776621 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-625698323503776621 .gp-items-center{align-items:center}.gps-625698323503776621 .gp-justify-center{justify-content:center}.gps-625698323503776621 .gp-overflow-hidden{overflow:hidden}.gps-625698323503776621 .gp-overflow-y-auto{overflow-y:auto}.gps-625698323503776621 .gp-overflow-x-hidden{overflow-x:hidden}.gps-625698323503776621 .gp-bg-transparent{background-color:transparent}.gps-625698323503776621 .gp-align-middle{vertical-align:middle}.gps-625698323503776621 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-625698323503776621 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-625698323503776621 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625698323503776621 .gp-duration-100{transition-duration:.1s}.gps-625698323503776621 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-625698323503776621 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-625698323503776621 .tablet\:\!gp-hidden{display:none!important}.gps-625698323503776621 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-625698323503776621 .mobile\:\!gp-hidden{display:none!important}.gps-625698323503776621 .mobile\:gp-hidden{display:none}}.gps-625698323503776621 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-625698323503776621 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}</style>
    
  
    
    
    <gp-dialog
      data-id="g3qa9y29Uw"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"g3qa9y29Uw","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"tablet":true,"mobile":true}}'>
      <dialog
        aria-label="Popup 6"
        data-gp-dialog-id="g3qa9y29Uw"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-tablet:auto;--pe-mobile:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-tablet:block;--d-mobile:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--ml-mobile:0px;--mb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--d:block;--d-tablet:block;--d-mobile:block;--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:32px;--h:32px;--c:var(--g-c-text-3, text-3);--bgc:var(--g-c-brand, brand)"
            >
              <span style="--height-icon:16px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg height="20" width="20" data-name="x-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
        <path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z"/>
      </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--op:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px;border-radius:inherit;--bgc:var(--g-c-bg-1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
  
    <div
      data-id="g5JmLxSeHQ"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb-mobile:0px;--pb-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g5JmLxSeHQ gp-custom-code">
      <div>
    <section class="hapyco-upload-guide-mini">
  <h2>Photo Upload Guidelines</h2>

  <p class="guide-line">
    <span>1 - </span><strong>Adjust photo on Mobile devices</strong>
    <span> (move, rotate, zoom...): click the REVIEW button.</span>
  </p>

  <div class="hapyco-icon-row">
    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <circle cx="21" cy="21" r="12"></circle>
        <line x1="30" y1="30" x2="40" y2="40"></line>
        <line x1="15" y1="21" x2="27" y2="21"></line>
      </svg>
    </div>

    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <circle cx="21" cy="21" r="12"></circle>
        <line x1="30" y1="30" x2="40" y2="40"></line>
        <line x1="15" y1="21" x2="27" y2="21"></line>
        <line x1="21" y1="15" x2="21" y2="27"></line>
      </svg>
    </div>

    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <path d="M17 15h-9v-9"></path>
        <path d="M10 14c4-6 12-9 20-6 9 3 13 13 10 22s-13 13-22 10c-4-1.5-7-4-9-7"></path>
      </svg>
    </div>

    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <line x1="8" y1="24" x2="38" y2="24"></line>
        <polyline points="27,13 38,24 27,35"></polyline>
      </svg>
    </div>

    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <line x1="40" y1="24" x2="10" y2="24"></line>
        <polyline points="21,13 10,24 21,35"></polyline>
      </svg>
    </div>

    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <line x1="24" y1="8" x2="24" y2="38"></line>
        <polyline points="13,27 24,38 35,27"></polyline>
      </svg>
    </div>

    <div class="icon-box">
      <svg viewBox="0 0 48 48">
        <line x1="24" y1="40" x2="24" y2="10"></line>
        <polyline points="13,21 24,10 35,21"></polyline>
      </svg>
    </div>
  </div>

  <p class="guide-line">
    <span>2 - </span><strong>CROP OUT</strong>
    <span> the photo before uploading for best result.</span>
  </p>

  <p class="guide-line">
    <span>3 - You can </span><strong>re-upload</strong>
    <span> other photos if you want.</span>
  </p>

  <p class="guide-line">
    <span>4 - To use Removed Background function, please wait 20–30 seconds.</span>
  </p>

  <p class="guide-note">
    <strong>*** In case you are UNABLE TO UPLOAD</strong>
    <span> photo, feel free to add to cart and checkout as usual. Then send us your order number and photo to our email: </span>
    <a href="mailto:contact@hapyco.co">contact@hapyco.co</a>
    <span>. We will process your order manually.</span>
  </p>
</section>

<style>
  .hapyco-upload-guide-mini {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: #fafafa;
    padding: 14px 12px;
    font-family: Poppins, Arial, sans-serif;
    color: #303030;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
  }

  .hapyco-upload-guide-mini h2 {
    margin: 0 0 14px;
    text-align: center;
    font-size: 17px;
    line-height: 1.15;
    font-weight: 800;
    color: #303030;
    letter-spacing: -0.25px;
  }

  .hapyco-upload-guide-mini .guide-line {
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.38;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: #303030;
  }

  .hapyco-upload-guide-mini strong {
    font-weight: 900;
    color: #2d2d2d;
  }

  .hapyco-upload-guide-mini .hapyco-icon-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    margin: 8px 0 12px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .hapyco-upload-guide-mini .icon-box {
    width: 31px;
    min-width: 31px;
    height: 31px;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hapyco-upload-guide-mini .icon-box svg {
    width: 21px;
    height: 21px;
    fill: none;
    stroke: #606060;
    stroke-width: 2.2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .hapyco-upload-guide-mini .guide-note {
    margin: 10px 0 0;
    font-size: 11.5px;
    line-height: 1.38;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: #303030;
  }

  .hapyco-upload-guide-mini .guide-note a {
    color: #16824f;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    word-break: break-word;
  }

  @media (max-width: 480px) {
    .hapyco-upload-guide-mini {
      padding: 12px 10px;
    }

    .hapyco-upload-guide-mini h2 {
      font-size: 15px;
      margin-bottom: 12px;
    }

    .hapyco-upload-guide-mini .guide-line {
      font-size: 12px;
      line-height: 1.35;
      margin-bottom: 9px;
    }

    .hapyco-upload-guide-mini .hapyco-icon-row {
      gap: 5px;
      margin: 7px 0 11px;
    }

    .hapyco-upload-guide-mini .icon-box {
      width: 29px;
      min-width: 29px;
      height: 29px;
    }

    .hapyco-upload-guide-mini .icon-box svg {
      width: 20px;
      height: 20px;
    }

    .hapyco-upload-guide-mini .guide-note {
      font-size: 10.8px;
      line-height: 1.35;
    }
  }

  @media (max-width: 380px) {
    .hapyco-upload-guide-mini {
      padding: 10px 8px;
    }

    .hapyco-upload-guide-mini h2 {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .hapyco-upload-guide-mini .guide-line {
      font-size: 11.3px;
      margin-bottom: 8px;
    }

    .hapyco-upload-guide-mini .icon-box {
      width: 27px;
      min-width: 27px;
      height: 27px;
    }

    .hapyco-upload-guide-mini .icon-box svg {
      width: 18px;
      height: 18px;
    }

    .hapyco-upload-guide-mini .guide-note {
      font-size: 10.2px;
    }
  }
</style>
    </div>
    </div>
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-625698323503776621 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=625522682124829355&sectionId=625698323503776621)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}