
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608457904340599556.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608457904340599556.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608457904340599556.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608457904340599556.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608457904340599556.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608457904340599556.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608457904340599556.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608457904340599556.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608457904340599556.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608457904340599556.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608457904340599556.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608457904340599556.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608457904340599556.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608457904340599556.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608457904340599556.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608457904340599556.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608457904340599556.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608457904340599556.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608457904340599556.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608457904340599556.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608457904340599556.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608457904340599556.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608457904340599556.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608457904340599556.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608457904340599556.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608457904340599556.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608457904340599556.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608457904340599556.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608457904340599556.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608457904340599556.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608457904340599556.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608457904340599556.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608457904340599556.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608457904340599556.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608457904340599556.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608457904340599556.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608457904340599556.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608457904340599556.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608457904340599556.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608457904340599556.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608457904340599556.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608457904340599556.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608457904340599556.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608457904340599556.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608457904340599556.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608457904340599556 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-608457904340599556 .gp-relative{position:relative}.gps-608457904340599556 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608457904340599556 .gp-mb-0{margin-bottom:0}.gps-608457904340599556 .gp-flex{display:flex}.gps-608457904340599556 .gp-grid{display:grid}.gps-608457904340599556 .\!gp-hidden{display:none!important}.gps-608457904340599556 .gp-hidden{display:none}.gps-608457904340599556 .gp-max-w-full{max-width:100%}.gps-608457904340599556 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608457904340599556 .gp-flex-col{flex-direction:column}.gps-608457904340599556 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608457904340599556 .gp-duration-200{transition-duration:.2s}.gps-608457904340599556 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608457904340599556 .tablet\:\!gp-hidden{display:none!important}.gps-608457904340599556 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-608457904340599556 .mobile\:\!gp-hidden{display:none!important}.gps-608457904340599556 .mobile\:gp-hidden{display:none}}.gps-608457904340599556 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsOsOyjDsm"}' data-id="gsOsOyjDsm" id="gsOsOyjDsm" data-same-height-subgrid-container class="gsOsOyjDsm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] gp_bottom-elm" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-tablet:var(--g-s-3xl);--pl-tablet:15px;--pb-tablet:var(--g-s-3xl);--pr-tablet:15px;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWS1w4zN_H gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8O75PfLIe"}' data-id="g8O75PfLIe" id="g8O75PfLIe" data-same-height-subgrid-container class="g8O75PfLIe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnPpG9YoBS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9a3XS4IBM"
        class="g9a3XS4IBM"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg9a3XS4IBM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-608457904340599556 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608457795238363734&sectionId=608457904340599556)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9a3XS4IBM_text","label":"gg9a3XS4IBM_text","default":"<p><strong>MEDICAL &amp; HEALTH DISCLAIMER:</strong> The information and other content provided on this page, or in any linked materials, are not intended and should not be construed as medical advice, nor is the information a substitute for professional medical expertise or treatment.</p><p>If you or any other person has a medical concern, you should consult with your health care provider or seek other professional medical treatment. Never disregard professional medical advice or delay in seeking it because of something you have read on this page or in any linked materials. If you think you may have a medical emergency, call your doctor or emergency services immediately.</p><p>© 2026 Liftora™ — All Rights Reserved. <a href=\"#\">Privacy Policy</a> · <a href=\"#\">Terms of Service</a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}